* {
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 5vmax;
  animation-name: slidein;
  animation-duration: 1s; 
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-right: 100%;
    width: 300%; 
  }

  to {
    opacity: 1;
    margin-right: 0%;
    width: 100%;
  }
}